In [22]:
import quandl
import pandas as pd
import pickle

In [23]:
api_key = "cJyyA_ZTZtPYzCMZrfsD"

In [24]:
df = quandl.get('FMAC/HPI_AK', authtoken=api_key)

In [25]:
df.head()

                Value
Date
1975-01-31  34.447924
1975-02-28  34.958144
1975-03-31  35.480144
1975-04-30  36.024334
1975-05-31  36.617578

In [26]:
def state_list():
    fiddy_states = pd.read_html('https://simple.wikipedia.org/wiki/List_of_U.S._states')
    print(fiddy_states[0][0])
    return fiddy_states[0][0][1:]

In [29]:
def grab_initial_state_data():
    states = state_list()
    main_df = pd.DataFrame()

    for abbr in fiddy_states[0][0][1:]:
        query = "FMAC/HPI_"+str(abbr)
        df = quandl.get(query, authtoken=api_key)
        df.rename(columns={'Value':str(abbr)}, inplace=True)
    
    if main_df.empty:
        main_df = df
    else:
        main_df = main_df.join(df)
            
    print(main_df.head())

    pickle_out = open('fiddy_states.pickle', 'wb')
    pickle.dump(main_df, pickle_out)
    pickle_out.close()
    
# grab_initial_state_data()

0     Abbreviation
1               AL
2               AK
3               AZ
4               AR
5               CA
6               CO
7               CT
8               DE
9               FL
10              GA
11              HI
12              ID
13              IL
14              IN
15              IA
16              KS
17              KY
18              LA
19              ME
20              MD
21              MA
22              MI
23              MN
24              MS
25              MO
26              MT
27              NE
28              NV
29              NH
30              NJ
31              NM
32              NY
33              NC
34              ND
35              OH
36              OK
37              OR
38              PA
39              RI
40              SC
41              SD
42              TN
43              TX
44              UT
45              VT
46              VA
47              WA
48              WV
49              WI
50              WY
Name: 0, dtype: object
                   WY
Date
1975-01-31  31.545673
1975-02-28  32.035235
1975-03-31  32.551748
1975-04-30  33.083411
1975-05-31  33.596747

In [30]:
pickle_in = open('fiddy_states.pickle', 'rb')
HPI_data = pickle.load(pickle_in)
print(HPI_data)

                    WY
Date
1975-01-31   31.545673
1975-02-28   32.035235
1975-03-31   32.551748
1975-04-30   33.083411
1975-05-31   33.596747
1975-06-30   34.076272
1975-07-31   34.520567
1975-08-31   34.916654
1975-09-30   35.253480
1975-10-31   35.508485
1975-11-30   35.683141
1975-12-31   35.806300
1976-01-31   35.913634
1976-02-29   36.053984
1976-03-31   36.256550
1976-04-30   36.525231
1976-05-31   36.878829
1976-06-30   37.351699
1976-07-31   37.924994
1976-08-31   38.522753
1976-09-30   39.115625
1976-10-31   39.716081
1976-11-30   40.283066
1976-12-31   40.743919
1977-01-31   41.102446
1977-02-28   41.421948
1977-03-31   41.742970
1977-04-30   42.086374
1977-05-31   42.481734
1977-06-30   42.982446
...                ...
2014-07-31  179.258606
2014-08-31  179.392013
2014-09-30  179.396086
2014-10-31  179.510707
2014-11-30  179.712288
2014-12-31  179.891022
2015-01-31  180.105806
2015-02-28  180.471082
2015-03-31  181.261513
2015-04-30  182.630473
2015-05-31  184.396585
2015-06-30  186.149010
2015-07-31  187.344260
2015-08-31  187.597183
2015-09-30  187.083218
2015-10-31  186.133662
2015-11-30  184.963085
2015-12-31  183.965413
2016-01-31  183.522170
2016-02-29  183.778872
2016-03-31  184.667392
2016-04-30  185.854634
2016-05-31  186.874771
2016-06-30  187.646238
2016-07-31  188.318810
2016-08-31  188.893288
2016-09-30  189.023606
2016-10-31  188.310749
2016-11-30  187.033177
2016-12-31  185.993542

[504 rows x 1 columns]